.feature-sec{
    @apply w-screen flex flex-col items-center bg-footerBG pt-10 sm:pb-20
}
.feature-sec-text{
    @apply text-white opacity-80 text-xl  w-[85vw] sm:w-[65vw] text-center my-4
}
.feature-card-cont{
    @apply w-[90vw] sm:w-[80vw]  2xl:w-[60vw] flex flex-wrap lg:justify-between my-14 transition-all 
}

/*Feature card styling*/

.feature-card{
    @apply mx-auto  mb-10 lg:m-0 fill-transparent flex justify-center items-center w-[43%] h-[28vh] sm:h-[30vh] bg-gradient-to-r from-[#6033c4] to-[#6033c4] sm:from-brown-light sm:to-brown-dark rounded-2xl relative overflow-hidden min-w-[95%] sm:min-w-[400px] border  transition-all duration-200 ease-out transform hover:scale-105
}
.feature-card-text{
    @apply text-white text-center text-2xl  lg:text-3xl 2xl:text-4xl font-extrabold leading-[3rem] w-4/5 z-20 
}
.feature-card-text-short{
    @apply text-white text-center text-2xl  lg:text-3xl 2xl:text-4xl  font-extrabold leading-[3rem] w-1/3 z-20
}



.feature-card-cd{
    @apply bg-[#3f217e] sm:bg-brown-dark w-52 h-52 rounded-full absolute transition-transform; 
    transition:1s
}
.feature-card-cd-pos1{
    @apply bottom-[-3.5rem] left-[-30px];
}
.feature-card-cd-pos2{
    @apply top-[-3.5rem] right-[-30px];
}
.feature-card-cl{
    @apply bg-[#9f83dc] sm:bg-brown-light w-36 h-36 rounded-full absolute;
    transition: 1s;
}
.feature-card-cl-pos1{
    @apply top-[-3.5rem] right-[-2rem];
}
.feature-card-cl-pos2{
    @apply bottom-[-3.5rem] left-[-2rem];
}
.feature-card-data{
    @apply sm:text-lg font-normal text-white w-4/5 text-center z-30 ;
}

/* animations */

@keyframes translate-big-c{
    from{
        bottom:-3.5rem;
        left:-30px;
    }
    to{
        top:-3.5rem;
        right:-2rem;
    }
}