.roadmap-sec{
    @apply w-screen flex flex-col items-center bg-footerBG pt-10 sm:pb-20
}
.roadmap-text-cont{
    @apply w-full flex justify-center  sm:my-6
}
.roadmap-text{
    @apply text-white opacity-80 text-xl text-center
}
.roadmap-card-cont{
    @apply flex flex-col md:flex-row md:w-4/5 xl:w-4/5 justify-between items-center mt-8 mb-20 relative
}
.roadmap-img {
    @apply w-[30vw] h-[32vw] md:w-[16vw] md:h-[16vw] lg:w-[18vw] lg:h-[18vw] absolute left-1/2 transform -translate-x-1/2 top-[42%] md:top-[70%] transform -translate-y-1/2 z-40;
}


/* node tree styling */

.roadmap-line-cont{
    @apply hidden md:inline-flex items-center justify-start w-[42%]
}
.roadmap-line{
    @apply h-[1px] w-[47%] bg-purple-line 
}
.roadmap-node-cont{
    @apply flex flex-col items-center pt-4
}
.roadmap-rev-node-cont{
    @apply flex flex-col items-center pb-4
}
.roadmap-node-line{
    @apply w-[1px] h-4 bg-purple-line
}
.roadmap-node-circle{
    @apply w-8 h-8 rounded-2xl bg-purple-line
}


/* roadmap card styling */

.roadmap-card{
    @apply  w-[60vw] h-[60vw] sm:w-[50] sm:h-[50] md:w-[30vw] md:h-[28vw] xl:w-[25vw] xl:h-[25vw]  sm:mx-4 xl:mx-auto mb-16 md:my-0  bg-blue-normalBG rounded-xl flex flex-col items-center justify-center z-10 relative overflow-hidden border;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.roadmap-card:hover{
    transform:rotateY(360deg);

    @apply bg-purple-light
}
.roadmap-card-text{
    @apply text-white text-2xl lg:text-5xl font-extrabold text-center z-30;
}
.roadmap-card-text2{
    @apply text-white  text-2xl lg:text-5xl font-extrabold text-center z-30 my-2 ;
}
.roadmap-card-data{
    @apply text-white  overflow-x-auto lg:text-xl font-normal text-center z-30 w-10/12 mt-4 
}
.roadmap-card-subtext{
    @apply text-white text-xl lg:text-3xl font-extrabold text-center mt-2 z-30
}
.roadmap-card-c1{
    @apply bg-blue-darkCircle w-[75%] h-[75%] rounded-full absolute bottom-[-2rem] left-[-3.4rem] z-20
}
.roadmap-card-c2{
    @apply bg-purple-line w-36 h-36 rounded-full absolute top-[-3.5rem] left-[-30px] z-20
}