.roadmap-sec{
    @apply w-screen flex flex-col items-center bg-footerBG pt-10 pb-20
}
.roadmap-text-cont{
    @apply w-full flex justify-center my-6
}
.roadmap-text{
    @apply text-white opacity-80 text-xl text-center
}
.roadmap-card-cont{
    @apply flex w-3/5 justify-between items-center mt-8 mb-20 relative
}
.roadmap-img{
    @apply w-[15vw] h-[15vw] absolute left-[35%] bottom-0 z-40
}

/* node tree styling */

.roadmap-line-cont{
    @apply flex items-center justify-start w-[42%]
}
.roadmap-line{
    @apply h-[1px] w-[47%] bg-purple-line 
}
.roadmap-node-cont{
    @apply flex flex-col items-center pt-4
}
.roadmap-rev-node-cont{
    @apply flex flex-col items-center pb-4
}
.roadmap-node-line{
    @apply w-[1px] h-4 bg-purple-line
}
.roadmap-node-circle{
    @apply w-8 h-8 rounded-2xl bg-purple-line
}


/* roadmap card styling */

.roadmap-card{
    @apply w-[19vw] h-[19vw] bg-blue-normalBG rounded-xl flex flex-col items-center justify-center z-10 relative overflow-hidden;
    transition: 1s ease-in-out;
}
.roadmap-card:hover{
    transform:rotateY(180deg);
    @apply bg-purple-light
}
.roadmap-card-text{
    @apply text-white text-5xl font-extrabold text-center z-30;
    transition: 1s ease-in-out;
}
.roadmap-card-data{
    @apply text-white text-xl font-normal text-center z-30 w-10/12 mt-4 -scale-x-100
}
.roadmap-card-subtext{
    @apply text-white text-3xl font-extrabold text-center mt-2 z-30
}
.roadmap-card-c1{
    @apply bg-blue-darkCircle w-[75%] h-[75%] rounded-full absolute bottom-[-2rem] left-[-3.4rem] z-20
}
.roadmap-card-c2{
    @apply bg-purple-line w-36 h-36 rounded-full absolute top-[-3.5rem] left-[-30px] z-20
}