.hero-sec{
    @apply w-screen flex flex-col items-center bg-footerBG pt-10 pb-20
}
.hero-sec-main{
    @apply w-screen flex justify-around items-center bg-footerBG 
}
.hero-data-cont{
    @apply w-1/3 flex flex-col items-start
}
.hero-data-heading-cont{
    @apply w-full
}
.hero-data-heading1{
    @apply text-7xl text-white font-light my-6
}
.hero-data-heading2{
    @apply text-7xl text-white font-extrabold my-6
}
.hero-data-btn-cont{
    @apply w-2/5 flex justify-between items-center my-6
}
.hero-data-btn-text{
    @apply text-2xl text-white font-semibold 
}
.hero-data-btn{
    @apply text-2xl text-white font-semibold bg-gradient-to-br from-purple-medium to-purple-dark px-7 py-2 rounded-md
}
.hero-data-btn:hover{
    @apply text-2xl text-white font-semibold bg-gradient-to-br from-purple-dark to-purple-medium px-7 py-2 rounded-md
}
.hero-img{
    @apply w-[30vw] h-[28vw] z-20
}


/* circle button cont  */

.hero-start-div{
    @apply h-11 w-screen flex items-center justify-center bg-grey-light mb-20 relative
}
.hero-start-text{
    @apply text-white font-semibold text-2xl
}
.hero-start-btn-cont{
    @apply absolute top-[-4.5rem] left-40 z-20;
    /* animation: rotate 8s linear infinite; */
}
.hero-circle-text{
    @apply text-white
}
.hero-start-btn{
    @apply text-white font-bold text-4xl absolute top-[40%] left-[20%]
}
.rotate{
    animation: rotate 6s linear infinite;
}
.unrotate{
    animation: unrotate 6s linear infinite;
}

@keyframes rotate {
    from{
        rotate: 360deg;
    }
    
}
@keyframes unrotate {
    from{
        rotate: -360deg;
    }
    
}